.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.mine{
  background-color: #61dafb;
  color: #282c34;
  margin-bottom: -8px;
  display: block;
  max-width: 50%;
    margin: auto;
    border:5px solid #3be302;
}
.new{
  color:#3be302;
}
.btn-deign{
  width: 200px;
  background-color:#61dafb;
  color:#fff;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  margin-top: 32%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* todo app css */
html {
  background: url(./background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 50px;
}

.App .title {
  font-size: 5rem;
  padding: 0px 20px 0px 20px;
  background-color: rgb(242, 255, 123);
  border-radius: 10px;
  border: 2px solid black;
  align-self: center;
  color: #1b1b1b;
  font-family: "Covered By Your Grace", cursive;
}

.todo {
  align-self: center;
  color: white;
}

.todo .crossText {
  text-decoration: line-through;
  color: red;
}

.todo input {
  background: transparent;
  border: none;
  color: black;
  border-bottom: 5px dashed black;
  min-width: 400px;
  margin-top: 40px;
  padding: 5px;
  font-size: 1rem;
}

.todo input::placeholder {
  color: black;
  font-size: 1.3rem;
}

.todo input:focus {
  outline: none;
  border: 2px dotted black;
}

.todo .add-btn {
  padding: 10px;
  border-radius: 30%;
  color: black;
  font-size: 1.2rem;
  background-color: yellow;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  border: 3px solid black;
  
}

.todo .add-btn:hover {
  padding: 10px;
  font-size: 1.1rem;
}

.todo ul {
  margin-top: 30px;
  font-size: 1.5rem;
}

.todo ul li {
  list-style: none;
  margin-bottom: 4px;
  text-align: left;
  border: 2px solid black;
  border-radius: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 5px;
  margin-left: -100px;
  background-color: rgb(236, 236, 236, 0.6);
  font-family: "Permanent Marker", cursive;
  color: black;
}
.todo ul li .delete {
  margin-top: 5px;
  float: right;
  padding: 4px 10px 4px 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: red;
  color: white;
  font-size: 15px;
}

.todo ul li .completed {
  margin-top: 5px;
  float: right;
  padding: 4px 10px 4px 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: green;
  margin-left: 10px;
  color: white;
  font-size: 15px;
}
